*{
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

body{
    padding: 60px;
    background:orangered
}

#idDivFormu{
    background: orange;
    text-align: center;
    padding: 20px;
}
#titulo{
    color: chocolate;
    text-align: left;
}
input{
    color: orangered;
    font-size: 1.5rem;
    width: 100%;
}
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    align-content: center;
    border: 10px solid orangered;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;


}

.card p{
    padding: 5px;
    text-align: center;

}

.card img{
    max-height: 100px;
}